<link href="~/Content/Style.css" rel="stylesheet" />

<div class="jumbotron EContent"  style="margin:10px 20px;">
    <div class="text-center">
        <h1 >WEB API Demo</h1>
        <p class="lead">WEB API is used to provide services through web.</p>
        <p><a href="http://localhost:64753/HtmlPages/Data.html" class="btn btnCustom btn-lg">Employee List &raquo;</a></p>
    </div> 
</div>
<div class="row" style="margin-top:20px ;">
    
    <div class="col-md-4 col-md-offset-1  well">
        <h2 style="color:black;">Register Here</h2>
        <h3><a class="btn btnCustom btn-lg" href="http://localhost:64753/HtmlPages/Register.html">Register &raquo;</a></h3>
    </div>
    
    <div class="col-md-4 col-md-offset-2 well">
    <h2 style="color:black;">Login Here</h2>
    <h3><a class="btn btnCustom btn-lg" href="http://localhost:64753/HtmlPages/Login.html">Login &raquo;</a></h3>
</div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@
</div>
