body {
    box-sizing:border-box;
}
h2 {
color:white;
padding-right:2em;
padding-left:1em;

}


.spanUserName {
    color: #145c59;
    /*position:absolute;
    right:5px;
    top:50px;*/
}
.Eheader{
    margin-top:0;
    background-color:#145c59;
    border-bottom-color:#145c59;
    

}

.EContent {
    margin-top:100px;
    background-color: rgba(32, 178, 170, 0.35) ;
    border-radius:5px;
    margin-bottom:100px;
    position:relative;
}

.Efooter {
    color:white;
    margin-bottom: 0;
    background-color: #145c59;
}

.btn {
    color:#ffffff;
    background-color:lightseagreen;
    transition-duration:0.3s;
}

btn:hover {
    
    transition-duration: 0.3s;
}

.btnCustom {
    background-color: #12746f;
    border-color: #12746f;
    color:white;
    margin-right: 10px;
    transition-duration: 0.5s;
}
.btnCustom:hover {
        background-color: #0a3e3c;
        border-color: #0a3e3c;
        color:white;
        transition-duration: 0.5s;
    }



    /*Overrides*/
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.list-group-item {
    /*padding:0;*/

}